<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Authentication Form</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="registrationField">
        <p>Registration</p></br/>
        <a href="/Registration/Registration">Зарегестрироваться</a><br/>
    </div>

    <div class="AuthenticationField">
        <p>Authentication</p></br/>
        <a href="/Authentication/Authentication">Ввойти</a><br />
    </div>
    
</body>
</html>
