<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <form asp-action="SignOut" asp-controller="Authentication">
        <button>SignOut</button>
    </form>

    <form asp-action="Index" asp-controller="Profile">
        <button>no SignOut</button>
    </form>
</body>
</html>
